<mat-toolbar class="header">
  <button type="button" class="me-3" mat-raised-button (click)="drawer.toggle()">
    切換頁面
  </button>
  <span class="title">恭喜發財</span>
</mat-toolbar>
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" class="sidenav container">
    <button mat-raised-button routerLink="dashboard" class="mt-3">儀表板</button>
    <button mat-raised-button routerLink="Level" class="mt-3">大小頭</button>
    <button mat-raised-button routerLink="PerCard" class="mt-3">張數</button>
  </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>