.header {
  height: 3rem;
  background-color:rgba($color: #000000, $alpha: 0.9);
  color: #FFFFFF;
}

.drawer-container {
  width: 100%;
  height: 43.6rem;
  border: 1px solid #555;
  background: url(https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

.sidenav {
  background-color: rgba($color: #000000, $alpha: 0.2);
  width: 20%;
}

mat-drawer {
  button {
    width: 100%;
  }
}

::ng-deep {
  .Body {
    max-height: 74.5vh;
    overflow-y: auto;
    background-image: url(https://images.pexels.com/photos/9660/business-money-pink-coins.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }
  .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  .PercardDiv{
    margin-bottom: 0.5rem;
  }
  .PercardDiv:not(:last-child){
    margin-right: 0.25rem;
  }
  .PercardBorder{
    border: 1px solid black;
  }
  .ListBorder{
    border-bottom: 1px solid black;
  }
}
